html {
    font-family: Helvetica;
}
button {
    display: block;
    margin: 0 auto; 
    background-color: gainsboro; 
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 20px;
    transition: .3s;
}

button:hover {
    background-color: black;
    color: white;
}

div {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkorchid;
    margin: 10px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
}